<form [formGroup]="form" (ngSubmit)="(form.value.email)&&onSubmit()">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="auth-header-title" style="font-family: 'Times New Roman', Times, serif;">Forgot Your Password?</div>
        <!--<div class="text-center mb-2">Please provide your valid email address to send the verification code.</div>-->
        <vhub-text class="col-10" label="Work email" type="text" [group]="form" name="email"
            placeholder="Enter Your Work email"></vhub-text>
        <!-- <vhub-captcha [group]="form" name="captcha" class="col-10"></vhub-captcha> -->
        <button [disabled]="!form.value.email" type="submit" mat-raised-button color="primary" class="col-10 mt-2 mb-1">Send instructions</button>
        <!-- || !form.value.captcha || form.get('captcha').invalid -->
        <!-- <label>Don't have account, want to <a routerLink="/auth/signup">SignUp</a>?</label> -->
        <label>Or you can <a routerLink="/app/auth/login">Login Here</a></label>
    </div>
</form>