<div class="bg">
    <div class="login-container">
      <div class="ls-logo">
        <img src="assets/images/vhub-Logo-1.svg" class="img-fluid" alt="vConnect" />
      </div>
      <div class="container-fluid auth-card">
        <!-- <div class="col-md-6 col-lg-3 col-10 col-sm-6"> -->
          <mat-card appearance="outlined">
            <mat-card-content>
              <router-outlet></router-outlet>
            </mat-card-content>
          </mat-card>
        <!-- </div> -->
      </div>
    </div>
  </div>