<form [formGroup]="form" (ngSubmit)="(form.valid)&&onSubmit()">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="auth-header-title">Confirm Your Password</div>
        <vhub-text class="col-10" label="Password" type="password" [autocomplete]="false"
            placeholder="Enter Your Password" [group]="form" name="password" [eyeButton]="true" [disableCut]="true"
            [disableCopy]="true" [disablePaste]="true"></vhub-text>
        <vhub-text class="col-10" label="Confirm Password" type="password" [autocomplete]="false"
            placeholder="Confirm Your Password" [group]="form" name="confirmPassword" [disableCut]="true"
            [disableCopy]="true" [disablePaste]="true"></vhub-text>
        <button type="submit" mat-raised-button color="primary" class="col-10 mt-2 mb-1"
            [disabled]="form.invalid">Confirm</button>
    </div>
</form>